md-toolbar
  .md-toolbar-tools
    h2 Lunchguiden alternativ
    div(flex)
md-content.md-primary(layout="column" layout-align="center center" flex)
  md-switch(ng-model="reminder") Påminnelse om lunch kl 11:00
  md-button(ng-click="apply()") Spara  
