body {
  width: 500px;
}

#popupContainer {
  position: absolute;
  top: 50%;
}

.round-image {
  border-radius: 50%;
}

body {
  height: auto !important;
}
.toolbar-link:hover {
  cursor: pointer;
}
